__pycache__/
*.pyc
*.pyo

.venv/
venv/
env/

.env
.git
.gitignore

*.log

.ipynb_checkpoints/
*.ipynb

node_modules/

.vscode/
.idea/

data/
datasets/
notebooks/
experiments/
checkpoints/
runs/
outputs/